<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS 10 </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1>AngularJS SQL</h1>
    <p>AngularJS is perfect for displaying data from a Database. Just make sure the data is in JSON format.</p>

    <h3> 1 - Fetching Data From a PHP Server Running MySQL</h3>
    <div ng-app="myApp" ng-controller="customersCtrl">
    <table>
        <tr ng-repeat="x in names">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
        </tr>
    </table>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("customers_mysql.php")
        .then(function (response) {$scope.names = response.data.records;});
    });
    </script>

    <h3> 2 - Fetching Data From an ASP.NET Server Running SQL</h3>

    <div ng-app="myApp" ng-controller="customersCtrl">

    <table>
        <tr ng-repeat="x in names">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
        </tr>
    </table>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("customers_sql.aspx")
        .then(function (response) {$scope.names = response.data.records;});
    });
    </script>

    <h3> 3 - Server code examples</h3>
    <p>1. Using PHP and MySQL. Returning JSON.</p>
    <p>2. Using PHP and MS Access. Returning JSON.</p>
    <p>3. Using ASP.NET, VB, and MS Access. Returning JSON.</p>
    <p>4. Using ASP.NET, Razor, and SQL Lite. Returning JSON.</p>

    <h1>AngularJS HTML DOM</h1>
    <h3> 4 -  The ng-disabled Directive</h3>
    <p>The ng-disabled directive binds AngularJS application data to the disabled attribute of HTML elements.</p>

    <div ng-app="" ng-init="mySwitch=true">
    <p>
    <button ng-disabled="mySwitch">Click Me!</button>
    </p>
    
    <p>
    <input type="checkbox" ng-model="mySwitch"/>Button
    </p>
        
    <p>
    {{ mySwitch }}
    </p>
    </div> 

    <h3> 5 - The ng-show Directive</h3>

    <div ng-app="">

    <p ng-show="true">I am visible.</p>
        
    <p ng-show="false">I am not visible.</p>
        
    </div> 

    <h3> other ng-show directive </h3>

    <div ng-app="" ng-init="hour=13">

    <p ng-show="hour > 12">I am visible.</p>
        
    </div> 

    <h1>AngularJS Events</h1>




</body>
</html>